<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Consent</title>
</head>

<body class="bg-white transition-opacity duration-150 !opacity-100">
    <div class="flex flex-col items-center justify-center min-h-screen bg-gray-50">
        <form action="" method="post">
            <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-lg shadow-md">
                {{ if and .LogoUri }}
                <div class="flex justify-center">
                    <img src="{{ .LogoUri }}" alt="{{ .ClientName }}" width="64" height="64"
                        class="rounded-full" style="aspect-ratio:64/64;object-fit:cover" />
                </div>
                {{ end }}
                <h1 class="text-2xl font-bold text-center text-gray-900">Authorize {{ .ClientName }}</h1>
                <input type="hidden" name="challenge" value="{{ .Challenge }}">

                <p class="text-sm text-center text-gray-500">
                    Application {{ .ClientName }} is requesting the following permissions:
                </p>
                <ul class="list-disc list-inside text-sm text-gray-500">
                    {{ range .RequestedScope }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
                <div class="flex flex-col space-y-4">
                    <button type="submit"
                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-zinc-900 text-zinc-50 hover:bg-zinc-800 h-10 px-4 py-2 w-full">
                        Authorize
                    </button>
                    <!-- <button
                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 w-full">
                        Deny
                    </button> -->
                </div>
                {{ if or .PolicyUri .TosUri }}
                <div class="flex justify-center space-x-2 text-sm text-gray-500">
                    {{ if .PolicyUri }}
                    <a class="underline" href="{{ .PolicyUri }}">
                        Privacy Policy
                    </a>
                    {{ end }}
                    <span>|</span>
                    {{ if .TosUri }}
                    <a class="underline" href="{{ .TosUri }}">
                        Terms of Service
                    </a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </form>
    </div>
</body>

</html>